button.prd-btn {
    background-color: #fff;
    color: red;
    border: 1px solid #fff;
    padding: 10px;
  }
  
  button.prd-btn:hover {
    background-color: #e81e25 !important;
    color: #fff !important;
  }

  button.add-btn{
    background-color: white;
  }

  button.add-btn:hover {
    background-color: #e81e25;
    color: #e81e25;
    cursor: pointer;
  }

  .add-text{
    color: #e81e25;
   
  }

  button.add-btn:hover span {
    color: white !important;
  
  }

  @media (min-width: 1200px) {
    .form-user {
      width: 25%;
      margin-left: 34%;
    }
  
  }

  @media (max-width: 900px) {
    .form-user {
      width: 45%;
      margin: auto;
    }
  
  }

  @media (max-width: 400px) {
    .form-user {
      width: 55%;
      margin: auto;
    }
  
  }