button.prd-btn {
  background-color: #fff;
  color: red;
  border: 1px solid #fff;
  padding: 10px;
}

button.prd-btn:hover {
  background-color: #e81e25 !important;
  color: #fff !important;
}

button.add-btn {
  background-color: white;
}

button.add-btn:hover {
  background-color: #e81e25;
  color: #e81e25;
  cursor: pointer;
}

.add-text {
  color: #e81e25;
}

/* ASSIST CSS */



@media (min-width: 1200px) {
  .form-user {
    width: 25%;
    margin-left: 34%;
  }
  .container-remove {
    margin-left: -50%;
  }
  .card-img-smartphone {
    width: 25% !important;
  }
}

@media (max-width: 900px) {
  .form-user {
    width: 45%;
    margin: auto;
  }
  .svg-cart {
    display: none;
  }
  .card-img-smartphone {
    width: 40% !important;
  }
}

@media (max-width: 400px) {
  .form-user {
    width: 55%;
    margin: auto;
  }
  .svg-cart {
    display: none;
  }
  .container-remove {
    margin-left: -20%;
  }
  .card-img-smartphone {
    width: 75% !important;
  }
}
